#yield{
	height: 100%;
}

.form-button-column{
	width: 7%;
}

.w-20{
	width: 20%;
}

.body-container{
	max-width: 84vw;
}

.content-top{
	min-height: 10vh;
	max-height: 25vh;
}

.content-bottom{
	max-height: 65vh;
	overflow: auto;
}

.overflow-wrap{
	overflow-wrap: break-word;
}

.scrollbar-custom::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5; 
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: grey;
}

.no-resize{
	resize: none;
}